<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.samplebrowser.uwp.common" version="31.2.2." />
  <package id="syncfusion.pdf.uwp" version="31.2.2." />
  <package id="syncfusion.sfpdfviewer.uwp" version="31.2.2." />
  <package id="syncfusion.sfinput.uwp" version="31.2.2." />
  <package id="syncfusion.sfradialmenu.uwp" version="31.2.2." />
  <package id="syncfusion.sfcolorpickers.uwp" version="31.2.2." />
  <package id="syncfusion.sfshared.uwp" version="31.2.2." />
  <package id="syncfusion.sfmenu.uwp" version="31.2.2." />
  <package id="syncfusion.sftreenavigator.uwp" version="31.2.2." />
  <package id="syncfusion.licensing" version="31.2.2." />
  <package id="syncfusion.sfaccordion.uwp" version="31.2.2." />
  <package id="syncfusion.sfbusyindicator.uwp" version="31.2.2." />
</packages>